
.page-title {
	display: block;
	text-align: center;
	position: relative;
	margin: 0.25em 0;
	padding-top: 3rem;
	line-height: 1.1;
	//font-size: 4em;
	//letter-spacing: -1px;

	@include phone-only {
		font-size: 3em;
	}

	.smaller {
		font-size: 3rem;
		display: block;
		clear: both;
		letter-spacing: 0;
		font-family: var(--type_opt-tagline_font);
		font-weight: normal;
		margin-bottom: -3rem;
	}

}

.centered-title {
	text-align: center;
}



