//
// Base
//
// What you will find here:
// 01. General HTML element styles
// 02. Global styles
// 03. Typography


// ---------------- 01. General HTML element styles

html {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
}

body {
	font-size: var(--type_opt-base_font_size);
	margin: 0;
	background-color: $white;
	color: $default-text-color;
	font-family: var(--type_opt-body_text_font);
	font-style: normal;
	font-weight: 300;
	max-width: 100vw;
	overflow-x: hidden;

	-webkit-tap-highlight-color: #ff0;

	@include phone-only {
		font-size: calc( #{$base-font-size} / 1.3 );
		line-height: 1.2;
	}

	@if $sticky-footer {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}
}
.highlight,
::selection {
	background: #ff0;
}

@if $sticky-footer {
	div.site-content {
		flex: 1;
	}
}

a {
	color: var(--text_link_color);
	transition: all $button-transition-speed ease-in-out;

	&:hover,
	&:focus,
	&:active {
		color: var(--text_link_hover_color);
	}
}

blockquote {
	position: relative;
	padding: 1rem;

	&:before{
		content: "\201C";

		font-family: Georgia, serif;
		font-size: 90px;
		font-weight: bold;
		opacity: 0.2;

		position: absolute;
		left: -1.5rem;
		top: -1.5rem;
	}

}

// ---------------- 02. Global styles

.hide-this {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;

	svg {
		display: none;
	}
}

.inverse {
	@include inverse-colors;
}

.wp-block-button__link,
.button,
a.button,
input[type="submit"],
button {
	background: var(--button_background_color);
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	color: var(--button_text_color) !important;
	display: inline-block;
	transition: all $button-transition-speed ease-in-out;
	border-radius: var(--border_radius);
	font-weight: bold;
	outline: none;

	&:hover,
	&:focus,
	&:visited:hover {
		background: var(--button_hover_background_color);
		color: var(--button_hover_text_color) !important;
		box-shadow: 0 0 6px var(--button_hover_background_color);
	}



	&.full {
		display: block;
		text-align: center;
	}

	&.secondary {
		background: var(--secondary_button_background_color) !important;
		color: var(--secondary_button_text_color) !important;

		&:hover,
		&:focus,
		&:visited:hover {
			background: var(--secondary_button_hover_background_color) !important;
			color: var(--secondary_button_hover_text_color) !important;
			box-shadow: 0 0 6px var(--secondary_button_hover_background_color);
		}
	}

	&.text_link {
		background: none;
		color: var(--text_link_color) !important;
		text-decoration: underline;
		padding: 0;
		margin: 0;
		font-weight: normal;

		&:hover,
		&:focus,
		&:active {
			color: var(--text_link_hover_color) !important;
			background: none;
			box-shadow: none;
		}
	}

	.is-style-outline & {
		//color: darken( $button-background-color, 10 ) !important;
		color: $button-background-color !important;
		text-shadow: none;
		border: 2px solid rgba( $button-background-color, 0.6 );

		&:hover,
		&:focus,
		&:visited:hover {
			color: darken( $button-background-color, 12 ) !important;
			box-shadow: 0 0 12px rgba( $button-background-color, 0.95 );
			border-color: darken( $button-background-color, 10 );
		}
	}
}



.learn-more-button {
	padding-bottom: 2rem;
}

.padding {
	padding: 4rem;
}

.centered-text {
	text-align: center;
}
a.no-style {
	color: $default-text-color;
	text-decoration: none;
}




// ---------------- 03. Typography

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: capitalize;
	margin-bottom: 0.3em;
	line-height: 1.1;
	font-family: var(--type_opt-header_text_font);
}

h1 {

	font-size: calc( var(--type_opt-base_font_size) * 3.3 );
	line-height: 1;

	@include phone-only {
		font-size: calc( var(--type_opt-base_font_size) * 3 );
	}
}

h2 {
	font-size: calc( var(--type_opt-base_font_size) * 3.1 );
	font-weight: 300;

	@include phone-only {
		font-size: calc( var(--type_opt-base_font_size) * 2.9 );
	}
}

h3 {
	font-size: calc( var(--type_opt-base_font_size) * 3 );

	@include phone-only {
		font-size: calc( var(--type_opt-base_font_size) * 2.7 );
	}
}

h4 {
	font-size: calc( var(--type_opt-base_font_size) * 2.5 );

	@include phone-only {
		font-size: calc( var(--type_opt-base_font_size) * 2.3 );
	}
}

h5 {
	font-size: calc( var(--type_opt-base_font_size) * 2 );

	@include phone-only {
		font-size: calc( var(--type_opt-base_font_size) * 1.8 );
	}
}

h6 {
	font-size: calc( var(--type_opt-base_font_size) * 1.5 );

	@include phone-only {
		font-size: calc( var(--type_opt-base_font_size) * 1.4 );
	}
}






// ---------------- 04. SVG backgrounds / patterns

.plain-bg {
	background: $default-background-color;
	@include default-colors;
}
