#main {
	width: 100%;
}

.site-content {
	position: relative;
	.blending-div {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 150px;
		background: linear-gradient(180deg, var(--header_color_bar) 0%, rgba(255,255,255,0) 100%);
		opacity: 0.7;
	}
	body.home & {
		.blending-div {
			height: 110px;
			opacity: 1;
			background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		}
	}

	#content {
		position: relative;
		z-index: 9999;
		width: 90%;
		max-width: $max-page-width;
		margin: 0 auto;
	}

	.page-featured-image-container {
		width: 100%;
		margin: 6rem 0 1rem 0;

		img {
			width: 100%;
			height: 320px;
			object-fit: cover;
			border-radius: 4rem;
			border: 1px solid var(--accent_lines-separator);
		}
	}

	.page-content-container {
		background: rgba( $white, 0.9 );
		border-radius: 3rem 3rem 0 0;
		padding: 0 2rem;
	}

	.page-content {
		background: rgba( $white, 0.9 );

	}
}